---
layout: default
---

{% include navbar.html %}

{% include jumbotron.html %}

<!-- footer -->
{% include footer.html%}

<!-- Carding -->
<div class="card" style="width: 20rem;">
        <img class="card-img-top" src="/images/card1.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">GHc20.00</h4>
          <p class="card-text">Some quick text about the item. Description.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group" > <button class="btn btn-success">Buy Now!</button> </li>
        </ul>
</div>

<div class="card" style="width: 20rem;">
        <img class="card-img-top" src="/images/card2.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">GHc15.00</h4>
          <p class="card-text">Some quick text about the item. Description.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group" > <button class="btn btn-success">Buy Now!</button> </li>
        </ul>
</div>

<div class="card" style="width: 20rem;">
        <img class="card-img-top" src="/images/card3.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">GHc5.00</h4>
          <p class="card-text">Some quick text about the item. Description.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group" > <button class="btn btn-success">Buy Now!</button> </li>
        </ul>
</div>

<div class="card" style="width: 20rem;">
        <img class="card-img-top" src="/images/card4.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">GHc100.00</h4>
          <p class="card-text">Some quick text about the item. Description.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group" > <button class="btn btn-success">Buy Now!</button> </li>
        </ul>
</div>

<div class="card" style="width: 20rem;">
        <img class="card-img-top" src="/images/card5.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">GHc9.00</h4>
          <p class="card-text">Some quick text about the item. Description.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group" > <button class="btn btn-success">Buy Now!</button> </li>
        </ul>
</div>

<div class="card" style="width: 20rem;">
        <img class="card-img-top" src="/images/card6.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">GHc26.70</h4>
          <p class="card-text">Some quick text about the item. Description.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group" > <button class="btn btn-success">Buy Now!</button> </li>
        </ul>
</div>




